.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

section {
  display: block;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.content-section-heading {
  text-align: center;
}

.content-section-heading h3 {
  display: block;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1rem;
  text-transform: uppercase;
}

.text-secondary {
  color: #ecb807;
}

.content-section-heading h2 {
  display: block;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
  margin-top: 0;
  line-height: 1.2;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}

.col-lg {
  display: block;
  position: relative;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
}

.caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: fade-out(#212529, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
}

.caption-content h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.caption-content p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 1.2rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .portfolio-item {
    max-width: none;
    margin: 0;
  }

  .caption {
    transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }

  .caption-content {
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }

  .col-lg {
    flex: 0 0 50%;
    max-width: 50%;
  }

  img {
    transition: -webkit-clip-path 0.25s ease-out;
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }

  img:hover {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }

  .caption:hover {
    background-color: fade-out(#1d809f, 0.1);
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
